<div class="container">
  <table class="striped highlight centered responsive-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Street</th>
        <th>Street Number</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @costumers.each do |costumer| %>
        <tr>
          <td><%= costumer.name %> </td>
          <td><%= costumer.street%></td>
          <td><%= costumer.streetNo%></td>
          <td class="actions">
            <button class="btn_new_billing btn-floating waves-effect waves-light btn-small btn">
              <i class="material-icons">monetization_on</i>
            </button>

            <%= link_to costumer, confirm: 'Are you sure?', disable_with: 'deleting...', method: :delete, class: 'btn-floating btn waves-effect waves-light red' do %>
              <i class="material-icons">delete</i>
            <% end %>
          </td>
        </tr>
        <input type="hidden" id="costumer_id" name="costumer_id" value=<%=costumer.id%> />
      <% end %>
    </tbody>
    
  </table>
</div>

<div class="fixed-action-btn costumer-btn">
  <%= form_tag("costumers/new", method: "get") do %>
    <button class="btn-floating pulse btn-large waves-effect waves-light red">
      <i class="material-icons">add</i>
    </button>
  <%end%>
</div>