<div class="container">
  <table id="spcTable" class=" bordered striped centered responsive-table tabelaSPC">
    <thead>
      <tr>
        <th>Contract</th>
        <th>Name</th>
        <th>Street</th>
        <th>Street Number</th>
        <th>Paied?</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody id='bodyTable'>
      <% @costumers.each do |costumer| %>
        <tr class="linha_cliente_<%= costumer.billings.last.status_pago if costumer.billings.exists? %>" <%= cor_de_pagamento(costumer.billings.last.status_pago) if costumer.billings.exists? %>>
          <td><%= costumer.contract_number %></td>
          <td><%= costumer.name %> </td>
          <td><%= costumer.street %></td>
          <td><%= costumer.streetNo %></td>
          <% if costumer.billings.exists? %>
            <td><%= costumer.billings.last.status_pago %>
          <% else %>
            <td> ----- </td>
          <% end %>
          <td class="actions">
            <button class="btn_show_billing btn-floating waves-effect waves-light btn-small btn green" data-idshow="<%=costumer.id%>">
              <i class="material-icons">remove_red_eye</i>
            </button>

            <button class='btn_new_billing btn-floating waves-effect waves-light btn-small btn' data-idnew='<%= costumer.id %>' <%= check_billing(costumer.billings) if costumer.billings.exists? %>>
              <i class="material-icons">monetization_on</i>
            </button>

            <%= link_to costumer, :data => {confirm: 'Are you sure?', disable_with: 'deleting...'}, method: :delete, class: 'btn-floating btn waves-effect waves-light red' do %>
              <i class="material-icons">delete</i>
            <% end %>
          </td>
        </tr>
        <input type="hidden" id="costumer_id" name="costumer_id" value=<%=costumer.id%> />
      <% end %>
    </tbody>
  </table>
  <div class="col-md-12 center text-center">
    <span class="left" id="total_reg"></span>
    <ul class="pagination pager" id="myPager"></ul>
  </div>
</div>

<div class="fixed-action-btn costumer-btn">
  <%= form_tag("costumers/new", method: "get") do %>
    <button class="btn-floating orange pulse btn-large waves-effect waves-orange addBill">
      <i class="material-icons">add</i>
    </button>
  <%end%>
</div>