<div class="container">

<h2>Edit <%= @user.name.to_s.humanize %></h2>

<%= form_for(@user, url: "/users/#{@user.id}", html: { method: :put }) do |f| %>
  

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  

  <div class="actions">
    <button class="btn waves-effect waves-light" type="submit" name="action">Update
      <i class="material-icons right">send</i>
    </button>
  </div>

<% end %>

</div>
